  img {
            width: 300px; /* Ancho deseado en píxeles */
            height: auto; /* Altura automática para mantener la proporción */
        }
    body {
            background-image: url("blackmoon group.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
