@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

•{

    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    font-family: "Jacquard 12";

}

  body {
    background-color:rgb(153, 144, 206);

  }

  header{
    background-image: url(imagenes/hero.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
  }
  
  .container{
    max-width: 1100PX;
    margin: 0 auto;

  }

  .menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    z-index: 1000;

  }

  .menu .logo {
font-weight: 700;
font-size: 25px;
color: rgb(105, 38, 38);

  }

.menu .navbar ul li {
    position: relative;
    float: left;



}

.menu .navbar ul li a {
    font-size: 10px;
    padding: 20px;
    color: aliceblue;
    display: block;
}

.menu .navbar ul li a:hover {
 color: aquamarine;

}

menu{
    display: none;


}

.menu-icono {
    width: 25px;

}

.menu label{
     cursor: pointer;
     display: none;

}

.header content{

    display: flex;
}

.content{
    padding: 150px 150px 0px 0px;
}

.content h1{
    color: coral;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 55px;

}

.content p {
    margin-top: 25PX;
    color: grey;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 40px;

}

.btn-1 {
    display: inline-block;
    background-color: plum;
    border: 1px solid #aab1ff;
    margin: 35px 10px 0px 0px ;
    padding: 15px 25px;
    color: aliceblue;
    border-radius: 25px;
}

.btn-1:hover {
background-color: #aab1ff;

}

.services {
padding: 10px 0px;
display: flex;
justify-content: space-between;
text-align: center;
}

.service {
    padding: 25px;
    margin: 0px 10px;
    box-shadow:0px 0px 20px rgb(135, 141, 214, 0.3) ;
}

.service IMG {
margin-top: -500PX;
}

.service h3 {
    font-size: 20px;
    color: antiquewhite;
    margin-bottom: 10px;
}

.service {
    color: burlywood;
    font-size: 16px;
}

.porfolios {
    padding: 80px 0px;
    text-align: center;
    color: blanchedalmond;
} 

.porfolios h2 {
    font-size: 55px;
}

.porfolio {
    display: flex;
    align-items: center;
}

.porfolio img {
width: 350px;
}

.porfolio-1 {
    text-align: left;
    margin: 100px;
}

.porfolio-1 h3 {
    font-size:35px ;
    margin-bottom: 15px;

}

.porfolio-1 p {
    font-size: 18px;
    color: darkgrey;
    margin-bottom: 25px;

}

.porfolios-2 {
        text-align: left;
        margin-right: 100px;
}

.porfolios-2 h3 {
  font-size: 35px;
  margin-bottom: 15px;

}

.porfolio-2 p {
    font-size: 18px;
    color: rgb(104, 145, 239);
    margin-bottom: 25px;

}

.btn-2 {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 25px;
    background-color: darksalmon;
    color: antiquewhite;
}

.btn-2:hover {
    background-color: #be3e0b;
}


footer {
padding: 200px 0px 30px 0px;
background-image: url(imagenes/footer.svg);
background-position:top center ;
background-repeat: no-repeat;
background-size:cover ;
}

.info-content {
    display: flex;
}

.info-price {
    padding: 35px;
    text-align: center;
    background-color: rgb(27, 126, 197);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    margin: 0px 150px 0px 0px ;
    color: rgb(248, 244, 244);
}

.info-price h2{
    font-size: 25PX ;
    margin-bottom: 10PX;

}

.price {
    font-size: 14px;
    color: rgb(105, 94, 178) !important;
    margin-bottom: 10PX;
}

.info-price {
    font-size: 16px;
    color: rgb(255, 251, 251);

}

.info-txt {
    margin-left: 35px;
    color: antiquewhite;
}

hr {
    margin: 45px 0px;
    border: o.5px solid rgb(110, 100, 177);
}

.enlaces {

    display: flex;
    justify-content: space-between;
    color: rgb(171, 171, 122);
}

.enlaces h3 {
    font-size: 25px;
}

.enlace {
    display: flex;
    }

.enlace li a {
       display: block;
       margin: 20px;
       color: rgb(252, 254, 255);
        }

.enlace li a:hover {
           
            color: aqua;
            }

 @media(max-whidth:991px){

    .menu {
        padding: 20px;    
    }
    .menu label{
        Display: initial;

    }

    .menu .navbar{

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: cornflowerblue;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbvar {
        display: initial;
    }

    header {
        height:0vh ;
        padding: 400px 0px;
        background-position: center center;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0px 30px;
    }

    .content {
        padding: 0px;
    }

    .content h1 {
        margin-top: 100PX;
        font-size: 45px;
    }

    .content p{
        margin-top: 0PX;
    }

    .header-content {
        width: 150px;
    }

    .services {
        flex-direction: column;
        padding: 50px 30px 0px 30px ;

    }

    .service {
        margin-bottom: 50px;

    }

    .porfolios {
        padding: 0px 30px 30px 30px ;
    } 

    .porfolios h2 {
        margin-bottom: 15px;
    }

    .porfolio {
        flex-direction: column;
    }
   
    .porfolio img {
        display:  none;
    }

    .porfolio-1{
        text-align: center;
        margin: 0px 0px 25px 0px;
    }

    .porfolio-2{
        text-align: center;
        margin: 0px 0px 25px 0px;
    }

    footer {
        padding: 0px 30px 30px 30px;
    }

    .info-content {
        flex-direction: column;
        text-align: CENTER;
    }

    .info-price {
        margin: 0px 0px 20px 0px;

    }

    .info-txt {
        margin: 0px;
    }

    hr{
        margin: 25px 0px;
    }

    .enlaces {
        flex-direction: column;
        align-items: center;
    }

    .enlace {
        flex-direction: column;
    }

}